.player-list {
  width: 25vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.player-container {
  display: flex;
  flex-direction: column;
  background-color: lightyellow;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.player-container:hover {
  transform: scale(1.05);
}
