@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(70,23,142);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.option_div {
  display: inline;
  margin: 5%;
}

.question {
  margin-top: 3%;
  margin-bottom: 3%;
}

.hidden {
  display: none;
}

.nav {
  text-align: right;
  height: 5vh;
  background-color: rgb(70,23,142);
}

nav a {
  text-decoration: none;
  color: white;
  line-height: 5vh;
}

.PlayerSignInPage {
  background-image: url(./images/playerSignInBackground.png);
  background-size: cover;
  height: 97vh;
}

.PlayerSignInPage h1 {
  color: white;
  font-family: Cabin Sketch;
  font-size: 5vw;
  position: relative;
}

.containerPlayerSignInPage {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  /* background-color: white; */
}

.PlayerSignInForm {
  background-color: white;
  height: 30vh;
  width: 20vw;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 1em;
}

.PlayerSignInForm input{
  width:15vw;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 140%;

}

.PlayerSignInForm button{
 font-size: 140%;
 margin-top: 2vh;
 width:15vw;
 background-color: black;
 color: white;
}

.HostSignInPage {
  background-image: url(./images/playerSignInBackground.png);
  background-size: cover;
  height: 97vh;
}

.HostSignInPage h1 {
  color: white;
  font-family: Cabin Sketch;
  font-size: 5vw;
  position: relative;
}

.containerHostSignInPage {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  /* background-color: white; */
}

.HostSignInForm {
  background-color: white;
  height: 30vh;
  width: 20vw;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 1em;
}

.HostSignInForm input{
  width:15vw;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 140%;

}

.HostSignInForm button{
 font-size: 140%;
 margin-top: 2vh;
 width:15vw;
 background-color: black;
 color: white;
}

.HostSignUpPage {
  background-image: url(./images/playerSignInBackground.png);
  background-size: cover;
  height: 97vh;
}

.HostSignUpPage h1 {
  color: white;
  font-family: Cabin Sketch;
  font-size: 5vw;
  position: relative;
}

.containerHostSignUpPage {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  /* background-color: white; */
}

.HostSignUpForm {
  background-color: white;
  height: 35vh;
  width: 20vw;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 1em;
}

.HostSignUpForm input{
  width:15vw;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 140%;

}

.HostSignUpForm button{
 font-size: 140%;
 margin-top: 2vh;
 width:15vw;
 background-color: black;
 color: white;
}


.HomePage {
  background-image: url(./images/playerSignInBackground.png);
  background-size: cover;
  height: 97vh;
}

.HomePage h1 {
  color: white;
  font-family: Cabin Sketch;
  font-size: 5vw;
  position: relative;
}

.containerHomePage {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  /* background-color: white; */
}

.HostSignUpForm {
  background-color: white;
  height: 35vh;
  width: 20vw;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 1em;
}

.HostSignUpForm input{
  width:15vw;
  height: 5vh;
  margin-top: 3vh;
  text-align: center;
  font-size: 140%;

}

.HostSignUpForm button{
 font-size: 140%;
 margin-top: 2vh;
 width:15vw;
 background-color: black;
 color: white;
}

div.PinBox {
  margin: 10px;
  background-color: white;
  border-radius: 0.5em;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: Cabin Sketch;
}
